<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <!--<add name="con" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=OnlineExamDB;Integrated Security=True" />-->
  <!--<add name="con" connectionString="Database=onlineExam;Integrated Security=True;Data Source=SURESH-PC\SQLSERVER2012;" />-->
    <!--<add name="con" connectionString="Database=OnlineSystem;Integrated Security=True;Data Source=SURESH-PC\SQLSERVER2012;" />-->
    <add name="con" connectionString="Data Source=SURESH-PC\SQLSERVER;Initial Catalog=OnlineSystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
    		<compilation debug="true" targetFramework="4.0"/>
<!--<sessionState mode="StateServer"></sessionState>-->

	</system.web>
</configuration>
